doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 2017武汉设计双年展 邀请函
    script(src="./js/jquery.min.js")
    script(src="./js/jquery.fullPage.min.js")
    script(src="./js/jquery.slide.js")
    block css
      link(href="./css/jquery.fullPage.css", rel="stylesheet")
      link(href="./css/double.min.css", rel="stylesheet")
  body
    block content
    script(src="./js/double.js")
    block js